<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
        <div class="container">
          <nav id="navigation">
            <a href="/" class="logo">S&S club</a>
            <a aria-label="mobile menu" class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </a>
              <ul class="menu-left">
                <li><a href="/shop">Наши услуги</a></li>
                <li><a href="/about">Про нас</a></li>
                <li><a href="#skills">Контакты</a></li>
                <li><a href="#projects">Заказать</a></li>
              </ul>
          </nav>
        </div>
      </header>
  <div class="invent"> <div class="resusrs"> Постоянное обновление ресурсной базы <br> </div>
      <div class="fafa"> Инвентаря хватит на всех! Центр пополняет свои запасы практически каждые две недели. Большие возможности, большие выигрыши, большие успехи - все это про наш клуб! Не будь в стороне,подключайся </div>
  </div>
  <div class="invent1"> </div>

<footer>
    <div class="footest"> </div>
    <div class="whowi"> S&S Club </div>
    <div class="m1i"> Наши услуги </div>
    <div class="m2i"> Популярные услуги </div>
    <div class="m3i"> Каталог </div>
    <div class="m4i"> Заказ </div>
    <div class="m5i"> Про нас </div>
    <div class="m6i"> История клуба </div>
    <div class="m7i"> Мероприятия </div>
    <div class="m8i"> Лига чемпионов </div>
    <div class="m9i"> Контакты </div>
    <div class="m10i"> 597660, Московская область, город Москва, Бухарестская, 58 </div>
    <div class="m11i"> sharpshooters.club@torp.info </div>
    <div class="m12i"> +7 (495) 638-4414 </div>

    <div class="i23i">    <img src="../static/23.png" alt="1"> </div>
    <div class="i24i">    <img src="../static/24.png" alt="2"> </div>
    <div class="i25i">    <img src="../static/25.png" alt="3"> </div>
    <div class="i26i">    <img src="../static/26.png" alt="4"> </div>
</footer>
</body>
</html>