<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <title>S&S</title>
</head>
<body>
        <header>
        <div class="container">
          <nav id="navigation">
            <a href="/" class="logo">S&S club</a>
            <a aria-label="mobile menu" class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </a>
              <ul class="menu-left">
                <li><a href="/shop">Наши услуги</a></li>
                <li><a href="/about">Про нас</a></li>
                <li><a href="#skills">Контакты</a></li>
                <li><a href="#projects">Заказать</a></li>
              </ul>
          </nav>
        </div>
      </header>
<div class="proof">
    <div class="hello">  Добро пожаловать в "SharpShooters Club"  </div>
    <div class="whome">  Лучший стрелковый клуб России  </div>
       <button class="bolshe"> <span>УЗНАТЬ БОЛЬШЕ</span> </button>
</div>

<div class="info">
    <div class="b1"> Почему именно "SharpShooters Club"? </div>
    <div class="history"> История лучшего в России клуба по интересам: </div>
    <div class="line"> </div>
    <div class="info1">  Стрелковый клуб в России появился в результате растущего интереса к этому виду спорта среди группы энтузиастов. Они увидели необходимость в специальном помещении, где они могли бы практиковаться и совершенствовать свои навыки, и решили объединиться для создания клуба. Изначально клуб представлял собой небольшое предприятие, работающее в арендованном помещении.
 Основатели потратили все свое время и ресурсы на создание безопасной и гостеприимной среды для стрелков. Они также наняли опытных инструкторов, которые вели занятия и помогали членам клуба совершенствовать свои навыки.  </div>
    <div class="info2"> Слухи о клубе быстро распространились, и вскоре он стал популярным местом для стрелков в России. Людей привлекала дружелюбная атмосфера клуба, профессиональная подготовка и соблюдение техники безопасности. По мере развития клуба в него стали приезжать лучшие стрелки со всей страны, и "SharpShooters Club" быстро стал одним из лучших стрелковых клубов в России.
        Чтобы принять растущее число членов, клуб расширил свои помещения и инвестировал в новейшие технологии и оборудование. Он также установил партнерские отношения с местными предприятиями и организациями, чтобы предоставить своим членам еще больше ресурсов и возможностей.  </div>

    <div class="popular"> Популярные услуги </div>
    <div class="search"> Ознакомьтесь с новыми и популярными услугами "SharpShooters Club" </div>
    <div class="kart">
        <a href="shop.html"> <div class="div1"> <div class="lala"> Работа в группе </div>  <div class="price1"> 1800 руб/час </div>  </div> </a>
        <a href="shop.html"> <div class="div2"> <div class="lala2">  Индивидуальная работа </div>  <div class="price2"> 1900 руб/час </div> </div> </a>
        <a href="shop.html"> <div class="div3"> <div class="lala3"> Тир </div>  <div class="price3"> 900 руб/час </div> </div> </a>
    </div>
    </div>



        <div class="rassylka">
            <div class="sub"> Ежемесячная рассылка </div>
            <div class="sub1"> Подпишитесь, чтобы получать новости от нашего клуба, а также информацию о предстоящих мероприятиях. </div>
                <div class="otpravka">
            <div class="forma"> <form> <input type="email"> </form> </div>
            </div>
           <button class="senda"> <span>ОТПРАВИТЬ</span> </button>
        </div>

<footer>
    <div class="foot"> </div>
    <div class="whow"> S&S Club </div>
    <div class="m1"> Наши услуги </div>
    <div class="m2"> Популярные услуги </div>
    <div class="m3"> Каталог </div>
    <div class="m4"> Заказ </div>
    <div class="m5"> Про нас </div>
    <div class="m6"> История клуба </div>
    <div class="m7"> Мероприятия </div>
    <div class="m8"> Лига чемпионов </div>
    <div class="m9"> Контакты </div>
    <div class="m10"> 597660, Московская область, город Москва, Бухарестская, 58 </div>
    <div class="m11"> sharpshooters.club@torp.info </div>
    <div class="m12"> +7 (495) 638-4414 </div>

    <div class="i23">    <img src="../static/23.png" alt="1"> </div>
    <div class="i24">    <img src="../static/24.png" alt="2"> </div>
    <div class="i25">    <img src="../static/25.png" alt="3"> </div>
    <div class="i26">    <img src="../static/26.png" alt="4"> </div>
</footer>

</body>
</html>